{% extends "base.html" %}

{% block content %}
<article class="media content-section" style="background-color: aquamarine; border-color: white;">
<align="middle"><h1>About us: </h1>

<align="middle"><article class="media content-section" style="background-color: sand;">  
<align="middle">
  
<br> Hi there!  We are Introlads and our group is number 13! 
<br>
<br>Our group consists of:
<br> Ivanelyz Rivera de Jesús
<br> Gerónimo E. Outerbrigde
<br> José C. Ventosa Rodríguez
<br> Jeremy Cabán Acevedo
<br> Devan A. Vazquez Rivera
<br> Jorge Santiago Fernández
<br>
<br>
<h1>Our Purpose: </h1>
Currently, the tourist situation in Puerto Rico is at an all time high, people are arriving to the island and heading directly to the beaches, as Puerto Rico is known for its beaches. What strives the most is the lack of information of the danger that beaches may present. It’s known by locals that throughout the west and north-west side of the island, it is excellent for doing activities such as surfing, but maybe dangerous to swim in, while in the north and south side of the islands might be better for swimming and snorkeling.
<br>
<br><h1>Our Mission: </h1>
With the current situation in mind, we realize that tourists do need a way to figure out which beach is ideal for them and what hazards can be presented when they are planning their trips. It is what’s best for their safety and tourists should always keep their health in mind. Hence all of the needs, we have decided to create such a website that can spread these awareness for all sorts of people, doesn't matter if they are returning to the island or simply just visiting for the first time in their life!
{% endblock content %}