{% extends "base.html" %}

{% block content %}

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      Filters
    </div>
    <div>
      <!-- button group starts here -->
      <div class="btn-group" role="group" aria-label="Button Group with Dropdown">
        <!-- FOR TOP/LOW -->
        <div class="btn-group">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Top/Low
          </button>
          
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <a class="dropdown-item" href="#">Top</a>
            <a class="dropdown-item" href="#">Low</a>
          </div>
        </div>
        <!-- FOR SCORE TYPE -->
        <div class="btn-group">
          <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Score Type
          </button>
          
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
            <a class="dropdown-item" href="#">Overall</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Swimming</a>
            <a class="dropdown-item" href="#">Snorkeling</a>
            <a class="dropdown-item" href="#">Diving</a>
            <a class="dropdown-item" href="#">Sailing</a>
            <a class="dropdown-item" href="#">Fishing</a>
            <a class="dropdown-item" href="#">Kayaking</a>
            <a class="dropdown-item" href="#">Surfing</a>
            <li class="active"><a href="#">*PENDING OTHERS*</a></li>

          </div>
        </div>

        <!-- FOR REGION -->
        <div class="btn-group">
          <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Region
          </button>
          
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
            <a class="dropdown-item" href="#">Any</a>
            <a class="dropdown-item" href="#">N</a>
            <a class="dropdown-item" href="#">NW</a>
            <a class="dropdown-item" href="#">W</a>
            <a class="dropdown-item" href="#">SW</a>
            <a class="dropdown-item" href="#">S</a>
            <a class="dropdown-item" href="#">SE</a>
            <a class="dropdown-item" href="#">E</a>
            <a class="dropdown-item" href="#">NE</a>  
          </div>  
      </div>

    </div>
  </div>
</article>

<h1>Top Beaches: </h1>

<div>
    {% for topRating in topOverallRatings %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <h4><a class="mr-2" href="beach/{{topRating.beach.name}}">{{ topRating.beach.name | title}} {{ topRating.overall }}/10 </a> </h4>
            <div><small class="text-muted">{{ topRating.beach.region }} {{beach.id}} # {{ beachesCommentAmount|get:topRating.beach.name}} Reviews</small></div>
             <!-- beach id doesnt display, # of comments  doesnt display -->
          </div>
          <div>
            <img src="{{topRating.beach.img.url}}" alt="image not found" width="20%">
          </div>
          <div>
            <p class="article-content">Top 3 activites: <br> Swimming 🏊 <br> Snorkeling 🤿 <br> Kayaking 🛶 </p>
            <!-- show top 3 activities -->
            <p class="article-content"><a href="/#">📍 Location </a> | <a href="/#">💾</a></p>
            <!-- location link can be a variable -->
            <!-- save icon (bucket list) can be a button to add that beach to a list that belongs to the user's bucket list -->
          </div>
        </div>
      </article>
  {% endfor %}
</div>

{% endblock content %}


