{% extends "base.html" %}

{% block content %}
<!-- 🗑️ -->
    <h1>bio: {{profile.bio}}</h1>
    <div>
        <img src="{{profile.img.url}}" alt="image not found" width="20%">
    </div>
    <div>
        {% for beach in bucketList %}
        <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <h4><a class="mr-2" href="{% url 'beach' beach.name %}">{{ beach.name | title}} {{ beach.overallRating }}/10 </a> </h4>
                
                 <!-- beach id doesnt display, # of comments  doesnt display -->
              </div>
              <div>
                <img src="{{beach.img.url}}" alt="image not found" width="20%">
              </div>
              <div>
                <p class="article-content">Top 3 activites: <br> Swimming 🏊 <br> Snorkeling 🤿 <br> Kayaking 🛶 </p>
                <!-- show top 3 activities -->
                <p class="article-content"><a href="/#">📍 Location </a> | <form action="remove/{{beach.name}}"><button class="dropdown-item" type="btn">🗑️</button></form></p>
                <!-- location link can be a variable -->
                <!-- save icon (bucket list) can be a button to add that beach to a list that belongs to the user's bucket list -->
              </div>
            </div>
          </article>
      {% endfor %}
    </div>
{% endblock content %}
