{% extends "base.html" %}

{% block content %}
<!-- 🗑️ -->
    <!-- <h1>bio: {{profile.bio}}</h1>
    <div>
        <img src="{{profile.img.url}}" alt="image not found" width="20%">
    </div> -->

    <div>
    <article class="media content-section">
      <article class="media-body">
        <article class="article-metadata">
          <img src="{{profile.img.url}}" alt="image not found" width="20%">
          <p style="font-size: 30px;"><b>{{profile.user.username}}</b> <small class="text-muted">joined {{profile.date_created}}</small></p>
        </article>
        <p style="font-size: 25px;">"{{profile.bio}}"</p>
      </article>
    </article>
    </div>

    <div>
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <h3>{{profile.user.username}}'s Bucket List</h3>
          </div>
          {% for beach in bucketList %}
            <p>
              <form class="form-inline" role="form" action="remove/{{beach.name}}">
                <a class="mr-2" href="{% url 'beach' beach.name %}" style="font-size: 22px;">{{ beach.name | title}} {{ beach.overallRating }}/10 </a>
                <div class="form-group">
                  <button class="btn btn-info" type="btn">🗑️</button>
                </div>
              </form>
            <p>
          {% endfor %}
        </div>
      </article>
    </div>

    <article class="media content-section" style="background-color: aquamarine; border-color: white;">
      <div class="media-body">
        <div class="article-metadata">
          <h4>Recent Reviews</h4>
        </div>  
          <!--  for 5 recent comments  -->
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                  <p><b>For <a class="mr-2" href="">(beach):</a></b></p>
                  <!-- need beach -->
                  <a class="mr-2" href="">{{ profile.user.username}}</a>
                  <a>(overall rating)/10</a>
                  <!-- need rating -->
                  <small class="text-muted">(date)</small>
                  <!-- need date -->
                </div>
                <p class="article-content">(content)</p> 
                <!-- need comment content -->
              </div>
            </article>
          <!--  endfor  -->
          
      </div>

      
    </article>

{% endblock content %}
