{% extends "base.html" %}

{% block content %}

    

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <!-- {% for beach in beaches %} -->
      <H1>{{ beaches.first | title}} (Beach Rating)</H1> 
      <a>Beach id</a>
      <!-- {% endfor %} -->
    </div>
    {% for rating in ratings %}
      <a> Swimmy swim: {{ rating.swim}}</a>
    {% endfor %}
  </div>
</article>
    
    {% for comment in comments %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ comment.author }}</a>
            <small class="text-muted">{{ comment.date_posted|date:"F d, Y" }}</small>
          </div>
          <h3><a class="article-title" href="#">{{ comment.id }}</a></h3>
          <p class="article-content">{{ comment.content }}</p>
        </div>
      </article>
    {% endfor %}
{% endblock content %}


