{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <p><h1>{{ beach | title}} {{beach.overallRating}}/10</h1></p>
    </div>
    <div>
      <img src="{{beach.img.url}}" alt="image not found" width="69%" align="right">
    </div>
    <div>
      <div><a> Swimming: {{ beach.swimRating}}</a></div>
      <div><a> Diving: {{ beach.diveRating}}</a></div>
      <div><a> Surfing: {{ beach.surfRating}}</a></div>
      <div><a> Lounging: {{ beach.loungeRating}}</a></div>
      <div><a> Boating: {{ beach.boatRating}}</a></div>
      <div><a> Cleanliness: {{ beach.isCleanRating}}</a></div>
      <div><a> Safety: {{ beach.safetyRating}}</a></div>
      <div><a> Lifeguard: {{ beach.lifeguardRating}}</a></div>
    </div>
  </div>

</article>

<article class="media content-section">
  <div class="media-body">
    <a data-toggle = "modal" data-target = "#reviewModal">
      <form action="{% url 'beach' beach.name %}review" class = "form-inline" role = "form">
      <div class = "form-group">
        <button class="btn btn-info " type="button" id="MenuButton1">
          Write a review
        </button>

        <a action="/writeReview">
          <button style="margin: 5px;" class="btn btn-info " type="button" id="MenuButton2">
            Add to Bucket List
          </button>
        </a>
        
        <button class="btn btn-outline-info" type="button" id="MenuButton3">
          Location 📍
        </button>
      </div>
      </form>
    </a>
  </div>
</article>

<div class="modal" tabindex="-1" role="dialog" id = "reviewModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Write your experience</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST">
      <div class="modal-body">
          {% csrf_token %}
            {{commentForm | crispy}} 
            {{ratingForm | crispy}}
          {% csrf_token %} 
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
    </div>
  </div>
</div>

    {% for comment in comments %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
                  <!-- Special href to redirect to user profile -->
            <a class="mr-2" href="{% url 'profile' comment.author %}">{{ comment.author }}</a>
            <a>{{userRatings | get:comment.author.username}} /10</a>
            <small class="text-muted">{{ comment.date_posted|date:"F d, Y" }}</small>
          </div>
          <!-- <h3><a class="article-title" href="#">{{ comment.id }}</a></h3> -->
          <p class="article-content">{{ comment.content }}</p>
        </div>
      </article>
    {% endfor %}
{% endblock content %}


