{% extends "base.html" %}

{% block content %}

    

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      
      <p><h1>{{ beaches.first | title}} {{rating.overall}}/10</h1></p>
      <img src="{{beaches.first.img.url}}" alt="image not found" width="70%">
      
    </div>
    {% for rating in ratings %}
      <div><a> Swimming: {{ rating.swim}}</a></div>
      <div><a> Diving: {{ rating.dive}}</a></div>
      <div><a> Surfing: {{ rating.surf}}</a></div>
      <div><a> Lounging: {{ rating.lounge}}</a></div>
      <div><a> Boating: {{ rating.boat}}</a></div>
      <div><a> Cleanliness: {{ rating.isClean}}</a></div>
      <div><a> Safety: {{ rating.safety}}</a></div>
      <div><a> Lifegaurd: {{ rating.lifeguard}}</a></div>
    {% endfor %}
  </div>

</article>

<article class="media content-section">
  <div class="media-body">

    <button class="btn btn-info " type="button" id="MenuButton1">
      Write a review
    </button>

    <a action="/writeReview">
      <button class="btn btn-info " type="button" id="MenuButton2">
        Add to Bucket List
      </button>
    </a>
    
    <button class="btn btn-outline-info" type="button" id="MenuButton3">
      Location 📍
    </button>
  </div>
</article>



    
    {% for comment in comments %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
                  <!-- Special href to redirect to user profile -->
            <a class="mr-2" href="{% url 'profile' comment.author %}">{{ comment.author }}</a>
            <a>(overall rating)/10</a>
            <small class="text-muted">{{ comment.date_posted|date:"F d, Y" }}</small>
          </div>
          <!-- <h3><a class="article-title" href="#">{{ comment.id }}</a></h3> -->
          <p class="article-content">{{ comment.content }}</p>
        </div>
      </article>
    {% endfor %}
{% endblock content %}


