{% extends "beach/base.html" %}
{% block content %}
    {% for comment in comments %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ comment.author }}</a>
            <small class="text-muted">{{ comment.date_posted|date:"F d, Y" }}</small>
          </div>
          <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
          <p class="article-content">{{ comment.content }}</p>
        </div>
      </article>
    {% endfor %}
{% endblock content %}


